body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 191, 194);
    padding: 40px 0;
   
}

h1 {
    font-size: 36px;
    margin-bottom: 10px; 
   
}

h2 {
    font-size: 28px;
   
}



h3{
    margin-top: 5px;
}

span {
    color: grey;
    
}

.container {
    box-shadow: 0 0 20px grey;
    width: 960px;
    margin: 0 auto;
    background-color: white;
}




section,
header {
    padding: 10px 60px 20px 60px;
    
    
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    list-style: none;
}

header li {
    margin-bottom: 15px;

}

.profile-picture{
    width: 250px;
    height: 250px;
}

.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.hobbies div {
    margin-left: 20px;
}

.hobbies p {
    color:grey;
    
}


p {
    line-height: 1.5;
}

.cv-downloand-link {
    border: 2 px solid grey;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s, color 0.5s;
    box-shadow: 0 0 20px grey;
}

.cv-downloand-link:hover {
    color:white;
    background-color: darkgrey
}

.cv-downloand-link:focus {
outline: none;
color: white;
background-color: darkgrey;
}

.cv-downloand-link:active {
text-decoration: underline;
}

.adress-icon  {
    width: 16px;
    height: 16px;
    background-color: grey;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
    
}

.circle{
    border-radius: 50%;
}



